<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="fadeIn impuestos row mt">
    <div class="col-md-11 ">
        <div class="content-panel">
            <div class="head">
                <h4><i class="fa fa-angle-right"></i> Impuestos</h4>

                <a type="button" *appCheckPermissions="['AGREGAR_IMPUESTOS']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>

            <hr>

            <ng-container *appCheckNoPermissions="['VER_IMPUESTOS']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>

            <table *appCheckPermissions="['VER_IMPUESTOS']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-align-left"></i> Descripción </th>
                        <th><i class="fas fa-percent"></i> Porcentaje </th>
                        <th><i class="far fa-edit"></i> Acciones </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let impuesto of impuestos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

                        <td class="hidden-phone"> {{ impuesto.Descripcion }}</td>
                        <td class="hidden-phone"> {{ impuesto.Porcentaje + " %"}}</td>

                        <td>
                            <button *appCheckPermissions="['EDITAR_IMPUESTOS']" class="btn btn-primary btn-sm mr-3" (click)="openModalEdit(impuesto)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_IMPUESTOS']" class="btn btn-danger btn-sm" (click)="openModalDelete(impuesto)"><i class="fas fa-trash fa-xs"></i></button>
                        </td>
                    </tr>

                </tbody>

            </table>
            <div class="paginacion">

                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="impuestos.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>