<app-loading *ngIf="loading">
</app-loading>
<div *ngIf="!loading" class="fadeIn clientes row mt">
    <div class="col-md-11 ">
        <div class="content-panel">

            <div class="d-flex w100  head">
                <h4><i class="fa fa-angle-right"></i> Deudores</h4>
                <div class="d-flex  justify-content-center flex-fill">
                    <button *appCheckPermissions="['IMPRIMIR_PDF_REPORTES_DEUDORES']" class="pdf btn btn-danger btn-sm mr-5" (click)="exportToFile(2)"><i class="fas fa-file-pdf"></i></button>
                    <button *appCheckPermissions="['IMPRIMIR_EXCEL_REPORTES_DEUDORES']" class="excel btn btn-success btn-sm mr-5" (click)="exportToFile(1)"><i class="fas fa-file-csv"></i></button>
                </div>
            </div>
            <hr>

            <h1 *appCheckNoPermissions="['VER_REPORTES_DEUDORES']" class="text-center">Usted no tiene permiso para ver esta seccion</h1>

            <table *appCheckPermissions="['VER_REPORTES_DEUDORES']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-align-left"></i> N° Cliente </th>
                        <th><i class="far fa-id-card"></i> Nombre </th>
                        <th><i class="far fa-id-card"></i> Cédula </th>
                        <th><i class="far fa-calendar-alt"></i> Fecha último pago </th>
                        <th><i class="far fa-calendar-alt"></i> Días sin pagar </th>
                        <th><i class="fas fa-dollar-sign"></i> Total deuda </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let deudor of deudores">
                        <td class="hidden-phone"> {{ deudor.Cliente.Id }}</td>
                        <td class="hidden-phone"> {{ deudor.Cliente.Nombre +" "+ deudor.Cliente.Apellido }}</td>
                        <td class="hidden-phone"> {{ deudor.Cliente.Identificador }}</td>

                        <td class="hidden-phone" *ngIf="deudor.FechaUltimoPago.toString() != '0001-01-01T00:00:00'; else elseBlock1"> {{ deudor.FechaUltimoPago | date : 'dd/MM/yyyy'}}</td>
                        <ng-template #elseBlock1>
                            <td>S/F</td>
                        </ng-template>



                        <td class="hidden-phone" *ngIf="deudor.FechaUltimoPago.toString() != '0001-01-01T00:00:00'; else elseBlock"> {{ deudor.DiasDesdePago}}</td>
                        <ng-template #elseBlock>
                            <td>No se encontraron pagos</td>
                        </ng-template>
                        <td> {{ deudor.TotalDeuda.toFixed(0) | thousandsPipe}} </td>
                    </tr>
                </tbody>
            </table>

            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="count" [(page)]="page" [maxSize]="10" [rotate]="true" [ellipses]="false" (pageChange)="filterGetDeudores($event)" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>