.header {

  position: fixed;
  top:0;
  left:0;

}
.logout{
  background: white !important;
  color : black !important;
  font-size: 15px !important;
  margin-bottom: 15px !important;
  margin-right: 80px !important;


}
.logo-imm{
  color: white;
  font-size: 68px;
  font-family: sans-serif;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

  margin-left: 10px !important;
}

.welcome {

  color: white;
}
