<header *ngIf="showNavBar" class="header black-bg">

    <!--logo start-->
    <div class="d-flex flex-row">
        <div class=" container d-flex ml-0">
            <p class="  ">
            </p>        
    </div>



        <div class="top-menu container d-flex justify-content-end ">


            <div class="btn-group mr-3">

                <div class="btn-group container d-flex justify-content-center align-items-center" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <button class="btn btn-danger" ngbDropdownToggle>  {{ userName }}  </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button ngbDropdownItem *ngIf="usuarioRegistrado"><i class="fa fa-user mr-2"></i>{{ userName }} {{ userLastName }} </button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="logOut()" type="submit" class=" m d-flex justify-content-start align-items-center ">Salir</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>