<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="fadeIn categorias row mt">
    <div class="col-md-11 ">
        <div class="content-panel">
            <div class="head">
                <h4><i class="fa fa-angle-right"></i> Categorías</h4>

                <a type="button" *appCheckPermissions="['AGREGAR_CATEGORIAS']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>

            <hr>

            <h1 *appCheckNoPermissions="['VER_CATEGORIAS']" class="text-center">Usted no tiene permiso para ver esta seccion</h1>

            <table *appCheckPermissions="['VER_CATEGORIAS']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-align-left"></i> Descripción </th>
                        <th><i class="far fa-edit"></i> Acciones </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let categoria of categorias | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

                        <td class="hidden-phone"> {{ categoria.Descripcion }}</td>

                        <td>
                            <button *appCheckPermissions="['EDITAR_CATEGORIAS']" class="btn btn-primary btn-sm mr-3" (click)="openModalEdit(categoria)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_CATEGORIAS']" class="btn btn-danger btn-sm" (click)="openModalDelete(categoria)"><i class="fas fa-trash fa-xs"></i></button>
                        </td>
                    </tr>

                </tbody>

            </table>
            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="categorias.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>