.img-imm {

  width: 1100px;
  height: 600px;
}
.estilo{

  padding-top: 90px;
  padding-left: 240px;
  padding-right: 15px;
  padding-bottom: 70px;
  overflow-y:auto;
  height:100%;

}

.boton-atajo {

  width:80px;
  height:20px
}
.panel-botones{

  background-color: grey;
}
