<div class="estilo">
    <div class="d-flex flex-column  justify-content-around">
        <div *appCheckPermissions="['CERRAR_MES']" class="p-2 d-flex justify-content-around align-items-center " style="margin-bottom: 50px;">
            <div style="max-height: 20px;width: 60%;">
                <button class="btn btn-primary btn-lg w-100" (click)="openModalFinalizarMes(contentFinalizar)"> Finalizar mes   </button>
            </div>
            <div>
                <label style="font-size: 18px;" class=" col-sm-10 control-label">Fecha chequeo fibra</label>
                <div class="d-flex col-sm-10 flex-sw flex-row ">
                    <input class="form-control  " placeholder="dd-mm-yyyy" name="dp2" [(ngModel)]="checkFibra" ngbDatepicker readonly #d2="ngbDatepicker" (ngModelChange)="setCheckFibra()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-fecha calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>

            <div>
                <label style="font-size: 18px;" class=" col-sm-10 control-label">Próximo vencimiento</label>
                <div class="d-flex col-sm-10 flex-sw flex-row ">
                    <input class="form-control fecha " placeholder="dd-mm-yyyy" name="dp1" [(ngModel)]="vencimientoMes" ngbDatepicker readonly [navigation]="'none'" #d1="ngbDatepicker" (ngModelChange)="setVencimientoMes()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-fecha calendar" (click)="d1.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>
            <!-- <div class="p-2">Flex item 2</div>
          <div class="p-2">Flex item 3</div> -->

        </div>
        <hr>
        <div>
            <canvas id="myChart" width="400" height="150"></canvas>
        </div>
        <div class="d-flex " style="margin-top: 40px;">
            <div *appCheckPermissions="['VER_CLIENTES']" class="d-flex flex-grow-1">
                <div>
                    <div style="font-size:25px;">Cumpleaños del día</div>
                    <table class="animated fadeIn table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fas fa-user"></i> Abonado </th>
                                <th><i class="fas fa-id-card"></i> Nombre </th>
                                <th><i class="fas fa-phone-alt"></i> Contacto </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of birthdays | slice: (pageBirth-1) * pageSize : (pageBirth-1) * pageSize + pageSize">
                                <td class="hidden-phone"> {{ cliente.Id }}</td>
                                <td class="hidden-phone"> {{ cliente.Nombre + " " + cliente.Apellido}}</td>
                                <td class="hidden-phone"> {{ cliente.Telefono }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="loadingData">
                        <app-loading-data></app-loading-data>
                    </div>
                    <div class="paginacion">
                        <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="birthdays.length" [(page)]="pageBirth" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-grow-1">
                <div>
                    <div *appCheckPermissions="['VER_CLIENTES']" style="font-size:25px;">Contratos a vencer</div>
                    <table class="animated fadeIn table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fas fa-sort-numeric-down"></i> Id </th>
                                <th><i class="fas fa-id-card"></i> Nombre </th>
                                <th><i class="fas fa-phone-alt"></i> Teléfono </th>
                                <th><i class="far fa-calendar-alt"></i> Fecha vencimiento </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of finContratos | slice: (pageContrato-1) * pageSize : (pageContrato-1) * pageSize + pageSize">
                                <td class="hidden-phone"> {{ cliente.Id }}</td>
                                <td class="hidden-phone"> {{ cliente.Nombre + " "+ cliente.Apellido }}</td>
                                <td class="hidden-phone"> {{ cliente.Telefono }}</td>
                                <td class="hidden-phone"> {{ cliente.FechaHasta | date : "dd/MM/yyyy"}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="loadingData">
                        <app-loading-data></app-loading-data>
                    </div>
                    <div class="paginacion">
                        <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="finContratos.length" [(page)]="pageContrato" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>

        <div class=" d-flex">
            <div>
                <div *appCheckPermissions="['VER_EGRESOS']" style="font-size:25px;">Cheques por vencer</div>
                <table *appCheckPermissions="['VER_EGRESOS']" class="animated fadeIn table table-striped table-advance table-hover">
                    <thead>
                        <tr>
                            <th><i class="fas fa-sort-numeric-down"></i> Id </th>
                            <th><i class="fas fa-stream"></i> Categoría </th>
                            <th><i class="fas fa-id-card"></i> Proveedor </th>
                            <th><i class="fas fa-dollar-sign"></i> Importe </th>
                            <th><i class="far fa-calendar-alt"></i>Fecha </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cheque of cheques | slice: (pageCheque-1) * pageSize : (pageCheque-1) * pageSize + pageSize">
                            <td class="hidden-phone"> {{ cheque.Proveedor.Id }}</td>
                            <td class="hidden-phone"> {{ cheque.Categoria.Descripcion }}</td>
                            <td class="hidden-phone"> {{ cheque.Proveedor.Nombre }}</td>
                            <td class="hidden-phone"> {{ "$ " + cheque.Importe }}</td>
                            <td class="hidden-phone"> {{ cheque.FechaCheque | date : 'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="loadingData">
                    <app-loading-data></app-loading-data>
                </div>
                <div class="paginacion">
                    <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="cheques.length" [(page)]="pageCheque" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>
</div>



<script>
</script>



<ng-template #contentFinalizar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Finalizar mes</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p style="font-size: 20px;"><strong>¿ Estás seguro que deseas finalizar mes hoy {{ fechaHoy | date : "dd/MM/yyyy"}} ? <span class="text-primary">   </span> </strong></p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Salir</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('save')">Confirmar</button>
    </div>
</ng-template>