<!-- <app-loading *ngIf="loading">
</app-loading> -->
<div class="fadeIn clientes row mt">
    <div class="col-md-11 ">
        <div class="content-panel mb-5">

            <div class="d-flex head">
                <h4><i class="fa fa-angle-right"></i> Clientes</h4>

                <button *appCheckPermissions="['IMPRIMIR_PDF_REPORTES_CLIENTES']" [disabled]="cargandoInfo" class="pdf btn btn-danger btn-sm mr-5" (click)="exportToFile(2)"><i class="fas fa-file-pdf"></i></button>
                <button *appCheckPermissions="['IMPRIMIR_EXCEL_REPORTES_CLIENTES']" [disabled]="cargandoInfo" class="excel btn btn-success btn-sm mr-5" (click)="exportToFile(1)"><i class="fas fa-file-csv"></i></button>

            </div>

            <hr>

            <div class="form-group container d-flex flex-row align-items-center ">

                <div class="p-2 d-flex flex-row flex-fill align-items-center">

                    <div class="d-flex flex-row flex-fill">
                        <h5 class="m-2" for="exampleInputEmail1">Ciudad </h5>

                        <div class="flex-grow-1">
                            <ng-select [items]="ciudades" bindLabel="Descripcion" bindValue="Id" [(ngModel)]="clientesFilter.CiudadId" (ngModelChange)="getClientes()" name="ciudad" #ciudad="ngModel">
                            </ng-select>
                        </div>
                    </div>

                    <div class="d-flex flex-row flex-fill">
                        <h5 class="m-2" for="exampleInputEmail1">Zona </h5>

                        <div class="flex-grow-1">
                            <ng-select [items]="zonas" bindLabel="Descripcion" bindValue="Id" [(ngModel)]="clientesFilter.ZonaId" (ngModelChange)="getClientes()" name="zona" #zona="ngModel">
                            </ng-select>
                        </div>
                    </div>


                    <div class="d-flex flex-row flex-fill filtro-motivos text-right align-items-center">
                        <div class="col-8 " for="exampleInputEmail1 label-motivos"> Clientes activos/inactivos </div>
                        <div class="flex-grow-1  text-left">
                            <ng-select [items]="estados" bindLabel="Descripcion" bindValue="Valor" [(ngModel)]="clientesFilter.Estado" (ngModelChange)="getClientes()" name="state" #state="ngModel">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *appCheckNoPermissions="['VER_REPORTES_CLIENTES']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>
            <table *appCheckPermissions="['VER_REPORTES_CLIENTES']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>

                        <th><i class="fas fa-user"></i> Nombre </th>
                        <th><i class="fas fa-phone"></i> Teléfono </th>
                        <th><i class="fas fa-map-marked"></i> Dirección </th>
                        <th><i class="fas fa-map-marked"></i> Ciudad </th>
                        <th><i class="fas fa-map-marked"></i> Estado </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let cliente of clientes">

                        <td class="hidden-phone"> {{ cliente.Nombre +" " + cliente.Apellido }}</td>
                        <td class="hidden-phone"> {{ cliente.Telefono }}</td>
                        <td class="hidden-phone"> {{ cliente.Direccion }}</td>
                        <td class="hidden-phone"> {{ cliente.Ciudad.Descripcion }}</td>
                        <td class="hidden-phone"> <i class="fas fa-check" *ngIf="cliente.Estado.Id ==8"></i> <i class="fas fa-times" *ngIf="cliente.Estado.Id !=8"></i> {{cliente.Estado.Descripcion}}</td>
                        <button type="button" *appCheckPermissions="['VER_INFO_REPORTES_CLIENTES']" class="btn btn-primary" [disabled]="laodInfo" (click)="openModalInfo(content,cliente)"><i class="fas fa-info"></i></button>
                    </tr>
                </tbody>
            </table>



            <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="loading">
                <app-loading-data></app-loading-data>
            </div>

            <div class="paginacion">
                <ngb-pagination class="
                            pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="count" [(page)]="page" [maxSize]="pageSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getClientes()"></ngb-pagination>
            </div>
        </div>

    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Info Cliente:
            <bold>{{" " + clienteInfo.Nombre +" " +clienteInfo.Apellido }}</bold>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <div class="modal-body">

        <table class="animated fadeIn table table-striped table-advance table-hover">
            <thead>
                <tr>
                    <th class="hidden-phone"> Estado:
                        <bold>{{" " + clienteInfo.Estado.Descripcion }}</bold>
                    </th>

                </tr>
                <tr>
                    <th class="hidden-phone" *ngIf="clienteInfo.EstadoActualId ==8 && ( productosClienteInfo.length > 0 )"> Servicios Activos: </th>
                    <th class="hidden-phone" *ngIf=" productosClienteInfo.length == 0 "> El cliente no tiene servicios activos. </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th class="hidden-phone" *ngIf="clienteInfo.EstadoActualId ==6"> Total adeudado:{{" " + this.totalDeuda.toFixed(0)}} </th>

                </tr>

                <tr *ngFor="let producto of productosClienteInfo">
                    <td class="hidden-phone" *ngIf="producto.ProductoPrecio.Producto.Servicio && clienteInfo.EstadoActualId ==8"> {{producto.ProductoPrecio.Producto.Descripcion+" Desde: "}}{{producto.ProductoPrecio.Desde |date:"dd-MM-yyyy"}}</td>
                </tr>
            </tbody>

        </table>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
    </div>
</ng-template>