<app-loading *ngIf="loading && router.children.length === 0 "></app-loading>
<div *ngIf="!loading && router.children.length === 0" class="fadeIn productos row mt">
    <div class="col-md-11 ">
        <div class="content-panel row panel">
            <div class="col-sm-6">

                <div class="d-flex flex-row   ">
                    <div class="col-6">
                        <table class="animated fadeIn table table-striped table-advance table-hover">
                            <thead>
                                <th colspan="3" class="mw-100 ">Productos disponibles </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos">
                                    <td>{{ producto.Descripcion }}</td>
                                    <td>{{ producto.PrecioActual.Moneda.Descripcion + " " + producto.PrecioActual.Precio }}</td>
                                    <td>
                                        <a type="button" (click)="agregarProducto(producto)"> <i class="fa-2x fas fa-plus-circle"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class=" border-left col-6">
                        <table class="animated fadeIn table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th class="hidden-phone"><i class=""></i> Productos seleccionados </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr [ngStyle]="p.Producto.Color ?{'background-color': 'darkseagreen'} : null" style="cursor : pointer;" (click)="checkProducto(p, i)" *ngFor="let p of selectedProductos; let i = index" [attr.data-index]="i">
                                    <td>{{ p.Producto.Descripcion}}</td>
                                    <td>
                                        <a type="button" (click)="quitarItem(p)"> <i class="fa-1x fas fa-minus-circle"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-2  ">

                <table class="animated fadeIn table table-striped table-advance table-hover">
                    <thead>
                        <tr class="">
                            <th class="hidden-phone"><i class=""></i> Items </th>

                        </tr>
                    </thead>
                    <div *ngIf="loadingItems" class="mw-15 mt-5 d-flex justify-content-center contenedor">
                        <app-loading-data style="height: 15px; width: 15px;"></app-loading-data>
                    </div>
                    <tbody *ngIf="!loadingItems">

                        <tr *ngFor="let item of checkProductoCliente?.Items">
                            <td>
                                {{ item.Item.Descripcion + " "}}
                            </td>
                            <td>
                                {{ item.Valor }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="selectedProductos.length > 0" class=" col-sm-4">
                <div class=" border  border-dark">
                    <table class=" animated fadeIn table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-phone"><i class=""></i> Productos </th>
                                <th class="hidden-phone"><i class=""></i> Cuotas </th>
                                <th class="hidden-phone"><i class=""></i> PTF </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let prod of selectedProductos">
                                <td>
                                    {{ prod.Producto.Descripcion }}
                                </td>
                                <td>
                                    {{ prod?.Producto.PrecioActual.Moneda.Descripcion +" "+ (prod.Producto.PrecioActual.Precio / prod.Metodo.Cantidad).toFixed(0) +" x " + prod.Metodo.Cantidad }}
                                </td>
                                <td>
                                    {{prod?.Producto.PrecioActual.Moneda.Descripcion.toString() + prod.Producto.PrecioActual.Precio.toString()}}
                                </td>

                            </tr>
                            <tr *ngIf="selectedProductos.length">
                                <td></td>
                                <td>Total</td>
                                <th class="hidden-phone"><i class=""></i> {{ total }} </th>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="d-flex justify-content-end mt-5">
                    <button type="button" class="btn btn-success " (click)="save()">Confirmar compra</button>
                </div>
            </div>
            <!-- /content-panel -->
        </div>
    </div>
    <!-- /col-md-12 -->
</div>