<app-loading *ngIf="loading && router.children.length === 0">
</app-loading>
<div *ngIf="!loading && router.children.length === 0" class="fadeIn proveedores row mt">
    <div class="col-md-11 ">
        <div class="content-panel">
            <div class="head">
                <h4><i class="fa fa-angle-right"></i> Proveedores</h4>


                <a type="button" *appCheckPermissions="['AGREGAR_PROVEEDORES']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>

            <hr>

            <div class="form-group container d-flex flex-row align-items-center  mw-100 ">
                <div class="p-1">
                    <h5 class="m-2" for="exampleInputEmail1">Buscar </h5>
                </div>
                <div class="container mw-100">
                    <input type="email" class="form-control col-8" id="filtro" placeholder="Ingrese nombre o RUT" [(ngModel)]="filtro" (ngModelChange)="onFieldChange($event)" [value]="filterString">
                </div>
            </div>
            <ng-container *appCheckNoPermissions="['VER_PROVEEDORES']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>
            <table *appCheckPermissions="['VER_PROVEEDORES']" class="animated fadeIn table table-striped table-advance table-hover">


                <thead>
                    <tr>
                        <th> <i class="fas fa-business-time"></i> Nombre </th>
                        <th> <i class="fas fa-business-time"></i> Razón social </th>
                        <th> <i class="fas fa-sort-numeric-up"></i> RUT </th>
                        <th> <i class="fas fa-map-marker-alt"></i> Dirección </th>
                        <!-- <th > <i class="fas fa-envelope-square"></i> Correo </th> -->
                        <th> <i class="fas fa-phone"></i> Telefono </th>
                        <th> <i class="far fa-id-card"></i> Contacto </th>
                        <!-- <th > <i class="fas fa-filter"></i> Categoria </th> -->

                        <th><i class="fa fa-bullhorn"></i> Acciones </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let proveedor of proveedores">
                        <td class="hidden-phone"> {{ proveedor.Nombre }}</td>
                        <td class="hidden-phone"> {{ proveedor.RazonSocial }}</td>
                        <td class="hidden-phone"> {{ proveedor.RUT }}</td>
                        <td class="hidden-phone"> {{ proveedor.Ciudad + ", "+ proveedor.Direccion }}</td>
                        <!--<td class="hidden-phone"> {{ proveedor.Ciudad.Descripcion.toLocaleUpperCase() + ", "+ proveedor.Direccion }}</td>-->
                        <!-- <td class="hidden-phone">  {{ proveedor.Correo }}</td> -->
                        <td class="hidden-phone"> {{ proveedor.Telefono }}</td>
                        <td class="hidden-phone" *ngIf="!proveedor.ContactoTelefono ; else elsePerfId"> {{ proveedor.Contacto || ''}} </td>
                        <ng-template #elsePerfId>
                            <td>{{ proveedor.Contacto || '' }}{{ " Tel: " + proveedor.ContactoTelefono}}</td>
                        </ng-template>
                        <!-- <td class="hiddenhone">  {{ proveedor.Categoria.Descripcion }}</td> -->
                        <td>
                            <button *appCheckPermissions="['VER_INFO_PROVEEDORES']" class="btn btn-primary btn-sm mr-3" (click)="$event.stopPropagation(); openModalInfo(content,proveedor)"><i class="fas fa-info  fa-xs"></i></button>
                            <button *appCheckPermissions="['EDITAR_PROVEEDORES']" class="btn btn-primary btn-sm mr-3" (click)="$event.stopPropagation(); openModalInfoBancaria(content,proveedor)"><i class="fas fa-hand-holding-usd"></i></button>
                            <button *appCheckPermissions="['EDITAR_PROVEEDORES']" class="btn btn-primary btn-sm mr-3" (click)="$event.stopPropagation(); openModalEdit(proveedor)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_PROVEEDORES']" class="btn btn-danger btn-sm" (click)="$event.stopPropagation(); openModalDelete(proveedor)"><i class="fas fa-trash fa-xs"></i></button>
                        </td>

                    </tr>
                </tbody>


            </table>

            <div class="container mw-100 d-flex justify-content-center " *ngIf="loadingData">
                <app-loading-data></app-loading-data>
            </div>
            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="count" [(page)]="page" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="filter($event)">
                </ngb-pagination>

            </div>
        </div>
        <!-- /content-panel -->
    </div>



    <div *ngIf="router.children.length !== 0">
        <router-outlet></router-outlet>
    </div>


    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Detalles proveedor:
                <bold>{{" " + proveedorInfo.Nombre }}</bold>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
     <span aria-hidden="true">&times;</span>
   </button>
        </div>
        <div class="modal-body">

            <table class="animated fadeIn table table-striped table-advance table-hover">
                <!-- <thead>
      <tr>
        <th ><i class="fas fa-id-card"></i> RUT </th>
        <th ><i class="fas fa-id-card"></i> Correo de contacto </th>
      </tr>
    </thead> -->

                <tbody>
                    <tr>
                        <th class="hidden-phone"> RUT </th>
                        <td class="hidden-phone"> {{ proveedorInfo.RUT }}</td>

                    </tr>
                    <tr>
                        <th class="hidden-phone"> Correo proveedor </th>
                        <td class="hidden-phone"> {{ proveedorInfo.Correo }}</td>

                    </tr>
                    <tr>
                        <th class="hidden-phone"> Correo de contacto </th>
                        <td class="hidden-phone"> {{ proveedorInfo.ContactoCorreo }}</td>

                    </tr>
                </tbody>

            </table>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
        </div>
    </ng-template>