<app-loading *ngIf="loading">
</app-loading>
<div *ngIf="!loading" class="fadeIn metodos row mt">
    <div class="col-md-11 ">
        <div class="content-panel">

            <div class="head">
                <h4><i class="fa fa-angle-right"></i> Métodos de pago</h4>
                <a type="button" *appCheckPermissions="['AGREGAR_METODOS_PAGO']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>

            <hr>
            <ng-container *appCheckNoPermissions="['VER_METODOS_PAGO']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>
            <table *appCheckPermissions="['VER_METODOS_PAGO']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-align-left"></i> Descripción </th>
                        <th><i class="fab fa-cc-visa"></i> Cantidad de cuotas </th>
                        <th><i class="far fa-edit"></i> Acciones </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let metodo of metodosPago | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

                        <td class="hidden-phone"> {{ metodo.Descripcion }}</td>
                        <td class="hidden-phone"> {{ metodo.Cantidad }}</td>


                        <td>
                            <!-- <button  class="btn btn-primary btn-sm mr-3" (click)="openModalEdit(metodo)"><i class="fas fa-edit  fa-xs"></i></button> -->
                            <ng-container *appCheckPermissions="['ELIMINAR_METODOS_PAGO']">
                                <button *ngIf="metodo.Descripcion != 'Mensual'" class="btn btn-danger btn-sm" (click)="openModalDelete(metodo)"><i class="fas fa-trash fa-xs"></i></button>
                            </ng-container>


                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="metodosPago.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>