.productos {
    padding-top: 90px;
    padding-left: 240px;
    padding-right: 15px;
    padding-bottom: 100px;
    overflow-y: auto;
    width: 80%;
    height: calc(100vh - 70px);
    min-height: 100%;
}

 ::-webkit-scrollbar {
    display: none;
}

.nombre-cliente {
    margin: auto;
}

.head {
    display: flex;
    flex-flow: row;
}

.agregar {
    margin-right: 12.5%;
}

.alerta {
    max-width: 400px;
    float: right;
    padding-top: 90px;
    padding-right: 15px;
}

@media print {
    .logo-print {
        width: 50px;
        height: 50px;
        display: list-item;
        list-style-position: inside;
    }
}

.botonEditar {
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.entrada {
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: transparent;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.contenedor {
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    position: fixed;
    background-color: #afb1b4be;
    margin-bottom: 280px;
    margin-right: 100px;
    padding-left: 20px;
    bottom: 0;
    right: 0;
    width: 15%;
    border-radius: 10px;
}

.total {
    text-align: center;
    position: fixed;
    color: #ffffff;
    background-color: #2F323A;
    font-size: 40px;
    margin-bottom: 100px;
    margin-right: 100px;
    bottom: 0;
    right: 0;
    width: 15%;
    align-items: center;
    border-radius: 10px;
}

.pagar {
    cursor: pointer;
    text-align: center;
    position: fixed;
    background: #e91e26;
    color: #ffffff;
    font-size: 16px;
    font-size: 40px;
    margin-bottom: 15px;
    margin-right: 100px;
    padding-left: 20px;
    bottom: 0;
    right: 0;
    width: 15%;
    align-items: center;
    border-radius: 10px;
}

.paginacion {
    padding-top: 15px;
    margin-right: 10%;
    max-width: 100%;
}