<app-loading *ngIf="isLoading ">
</app-loading>

<div *ngIf="!isLoading " class="fadeIn productos row mt">
    <div class="col-md-11 ">
        <div class="content-panel">

            <div class="head d-flex flex-row justify-content-between">
                <div class="p-2 d-flex flex-row w-100 ">
                    <button type="button" class="btn btn-outline-dark" [routerLink]="['../']"> <i class="fas fa-arrow-left"></i> </button>
                    <div>
                        <h5 class="nombre-cliente ml-4"> {{" Productos y cuotas: " + cliente.Nombre }} </h5>
                        <div *ngIf="cliente.EstadoActualId === 6" class="text-center"><span style="color: red; font-size: 15px;">Deudor</span></div>
                    </div>

                    <h5 class="nombre-cliente ml-10"> {{ today | date: "dd/MM/yyyy"}} </h5>
                    <div class=" mw-100" *ngIf="count >= 0">
                        <button type="button" class="btn btn-outline-dark d-flex self-align-end mr-5" *ngIf="!this.mostrarCuotas" (click)="showAllCuotas()"> <i class="fas fa-eye mr-2 d-flex self-align-center "></i> Mostrar todas las cuotas </button>
                        <button type="button" class="btn btn-danger d-flex self-align-end mr-5" *ngIf="this.mostrarCuotas" (click)="checkIfshowCuota()"> Ocultar cuotas </button>
                    </div>
                </div>
            </div>
            <hr>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th><i class="fas fa-tv"></i> Producto </th>
                        <th><i class="fas fa-calendar-alt"></i> Fecha de compra </th>
                        <th><i class="fas fa-dollar-sign"></i> Cuota </th>
                        <th><i class="fab fa-cc-visa"></i> Importe </th>
                        <th><i class="fas fa-percentage"></i> Mora </th>
                        <th><i class="fab fa-cc-visa"></i> Pagar </th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let producto of cuotasProductosToShow | keyvalue ">
                        <tr style="cursor: pointer;" (click)="changeValue(producto.value[0])">
                            <td></td>
                            <td style="width: 18%;" class="hidden-phone"> {{ producto.value[0].ClienteProducto.ProductoPrecio.Producto.Descripcion }}</td>
                            <td style="width: 18%;" class="hidden-phone"> {{ producto.value[0].ClienteProducto.Desde | date : "dd/MM/yyyy"}}</td>

                            <div *ngIf=" producto.value[0].ClienteProducto.ProductoPrecio.Producto.Servicio ;else other_content">
                                <td class="hidden-phone text-align-start">
                                    {{ generateFecha(producto.value[0]) | date : "MMMM"}}
                                </td>
                            </div>
                            <ng-template #other_content>
                                <td class="hidden-phone">{{ producto.value[0].Cuota + " / " +producto.value[0].ClienteProducto.MetodoPago.Cantidad }}</td>
                            </ng-template>

                            <td class="hidden-phone">{{ '$ ' + (producto.value[0].Importe ).toFixed(0) }} </td>
                            <td *ngIf="producto.value[0].MoraCuota">{{ '%'+ producto.value[0].MoraCuota?.Porcentaje.toString() }}</td>
                            <td *ngIf="!producto.value[0].MoraCuota"></td>
                            <td><input (click)="$event.stopPropagation()" class="" type="checkbox" [(ngModel)]="producto.value[0].Pagar" (ngModelChange)="modelChanged()"></td>
                        </tr>

                        <ng-container>
                            <ng-container *ngFor="let item of producto.value | keyvalue | slice:1 | sort:'Cuota'">
                                <!-- *ngIf="checkIfshow(item.value)" -->
                                <tr style="cursor: pointer;" (click)="changeValue(item.value)">
                                    <td> </td>
                                    <td style="width: 18%;"> </td>
                                    <td style="width: 18%;"></td>

                                    <div *ngIf=" producto.value[0].ClienteProducto.ProductoPrecio.Producto.Servicio ;else other_content">
                                        <td class="hidden-phone">
                                            {{ generateFecha(item.value) | date : "MMMM"}}
                                        </td>
                                    </div>

                                    <ng-template #other_content>
                                        <td style=" max-width: 50px;">
                                            <p> {{item.value.Cuota + " / " +producto.value[0].ClienteProducto.MetodoPago.Cantidad}} </p>
                                        </td>
                                    </ng-template>

                                    <td> {{ '$ ' + (item.value.Importe).toFixed(0)| thousandsPipe}} </td>
                                    <td *ngIf="item.value.MoraCuota">{{ '%'+ item.value.MoraCuota?.Porcentaje.toString() }}</td>
                                    <td *ngIf="!item.value.MoraCuota"></td>
                                    <td><input class="" type="checkbox" [(ngModel)]="item.value.Pagar" (change)="modelChanged()"> </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>

            <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="loadingData">
                <app-loading-data></app-loading-data>
            </div>
            <div class="d-flex flex-direction-row justify-space-between">

                <button [disabled]="total === 0" (click)="modalPagar(contentPagar)" type="button" class="d-flex flex-column justify-space-end pagar btn btn-light "> Pagar </button>

                <div class="d-flex flex-column justify-space-end justify-content-center total  ">
                    <p>Total </p>
                    <p>{{ "$ " + (total).toFixed(0) | thousandsPipe }} </p>
                </div>
            </div>
        </div>

        <div class=" mw-100" *ngIf="count <= 0">
            <div class="content-panel div sin-cuotas mw-100 text-align-center" style="font-size: 25px;">
                <p class="text-center"> No hay cuotas pendientes para abonar</p>
            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <div class="container contenedor">
        <p class="mt-3">¿Desea editar texto del comprobante?</p>
        <div class="p-2 d-flex flex-row flex-fill d-flex justify-content-center title">

            <textarea class="d-flex entrada" type="title" id="title" placeholder="Titulo para comprobante" [(ngModel)]="title" [value]="title" #titulo="ngModel" rows="2"></textarea>
        </div>
        <div class="p-2 d-flex flex-row flex-fill d-flex justify-content-center comentary">

            <textarea class="d-flex entrada" type="comentary" id="comentary" placeholder="Comentario para comprobante" [(ngModel)]="comentary" [value]="comentary" #comentario="ngModel" rows="5"></textarea>
        </div>
        <div class="p-2 d-flex flex-row flex-fill d-flex justify-content-center  botonEditar">

            <button class="btn btn-primary btn-block " [disabled]="!comentario.touched && !titulo.touched" (click)="setTextoFactura()">Editar</button>
        </div>

    </div>

</div>



<ng-template #contentPagar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Realizar pago</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p style="font-size: 20px;"><strong>¿ Confirmar pago de {{ total.toFixed(0)| thousandsPipe}} ? <span class="text-primary">   </span> </strong></p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Salir</button>
        <button type="button" class="btn btn-danger" (click)="pagar()">Confirmar</button>
    </div>
</ng-template>


<div [hidden]="true" *ngIf="facturaPago" id="print-recibo">

    <img class="logo-print" src="/assets/img/Logo_Teveca2.png" width="160" />
    <div style="font-size: 15px;">{{ facturaPago.Cliente.Ciudad.Descripcion}}</div>
    <br/>

    <div>{{ facturaPago.Cliente.Nombre + " " + facturaPago.Cliente.Apellido}}</div>
    <div style="font-size: 15px;">{{"Id de pago: " + facturaPago.Cliente.Id}}</div>



    <br/>
    <div style="font-weight: bold;">Detalles:</div>
    <div class="logo-print"></div>
    <div style="margin-left: 5px;" *ngFor="let cuota of facturaPago.Detalles ">

        <div *ngIf="cuota.MoraCuota; else otrodiv">
            {{ cuota.Producto +" "+ cuota.Cuota +" $"+ cuota.Importe.toFixed(0) + '*' }}
        </div>
        <ng-template #otrodiv>
            <div>
                {{ cuota.Producto +" "+ cuota.Cuota +" $"+ cuota.Importe.toFixed(0) }}
            </div>
        </ng-template>
    </div>
    <br/>
    <div *ngIf=" facturaPago.Total > 0"> <span style="font-weight: bold;">Total abonado:</span> <span>{{" $" + facturaPago.Total.toFixed(0)}}</span></div>

    <div *ngIf="facturaPago.AplicaMoras" style="font-size: 10px;margin-top: 2px;">* Aplican moras</div>
    <br/>
    <div style="font-size: 15px;">{{ facturaPago.IdPago }}</div>
    <div style="font-size: 15px;">{{ facturaPago.FechaHora | date: "dd/MM/yyyy" }}</div>
    <div style="font-size: 15px;">{{ facturaPago.FechaHora | date: "HH:mm" }}</div>
    <br/>
    <div style="font-weight: bold;">{{ title}}</div>
    <div style="border: black solid 1px; border-radius: 10%;">{{ comentary}}</div>

</div>