.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid grey; /* Grey */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
