<div *ngIf="!formConfirmPass || !formPass">

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

        <body class="">
            <div class="login ">
                <div class="login-screen container  ">
                    <div class="app-title container">
                        <div class=" container  d-flex justify-content-center align-items-center ">
                            <p class="d-flex   ">
                                <a class="logo"><img src="" width="230"></a>
                            </p>
                        </div>
                    </div>


                    <div class="container login-form mw-100">
                        <div *ngIf="invalidLogin" style='color:red'>Usuario o contraseña invalido </div>

                        <div class="control-group">
                            <input type="text" class="login-field" name="username" [(ngModel)]="username" value="" placeholder="Usuario" id="login-name">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                        <div class="control-group">
                            <input type="password" name="password" [(ngModel)]="password" class="login-field" value="" placeholder="Contraseña" id="login-pass">
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>

                        <button *ngIf="loadingLogin" class=" btn boton-ingresar">
             <div  class="mw-100 d-flex justify-content-center  contenedor" >
                <app-loading-data-small></app-loading-data-small>
              </div>
          </button>

                        <button *ngIf="!loadingLogin" class="btn  boton-ingresar " type="submit">Ingresar</button>

                        <a class="login-link" (click)="formResetPassword(true)" type="button">Olvide mi contraseña</a>



                    </div>

                    <div class=" container  d-flex justify-content-center   align-items-end logo-ts    ">
                        <p class="d-flex m-0 ">
                        </p>
                    </div>

                </div>
            </div>
        </body>
    </form>
</div>


<div *ngIf="formPass">

    <form #resetForm="ngForm" (ngSubmit)="resetPass(resetForm)">

        <body class="">
            <div class="login ">
                <div class="login-screen container">
                    <div class="app-title container">
                        <div class=" container  d-flex justify-content-center align-items-center ">
                            <p class="d-flex   ">
                            </p>
                        </div>
                    </div>
                    <div class="app-title">
                        <!-- <h1>Recuperar contraseña</h1> -->
                        <h5>Introduzca su nombre de usuario para recibir instrucciones</h5>
                    </div>


                    <div class="login-form">

                        <div class="control-group">
                            <input type="text" class="login-field" name="username" [(ngModel)]="username" value="" placeholder="Usuario" id="login-name">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                        <button class="btn btn-lg btn-large btn-block btn  boton-ingresar" type="submit">Recuperar</button>

                        <a class="login-link" type="button" (click)="formResetPassword(false)">Volver</a>
                    </div>
                    <div class=" container  d-flex justify-content-center   align-items-end logo-ts    ">
                        <p class="d-flex m-0 ">
                        </p>
                    </div>

                </div>
            </div>
        </body>
    </form>
</div>


<div *ngIf="formConfirmPass">

    <form #confirm="ngForm" (ngSubmit)="confirmPass(resetForm)">

        <body class="">
            <div class="login ">
                <div class="login-screen">
                    <div class="app-title">
                        <div class=" container  d-flex justify-content-center   align-items-end logo-ts    ">
                            <p class="d-flex m-0 ">
                            </p>
                        </div>
                        <div class=" container  d-flex justify-content-center   align-items-end   ">
                            <p class="ingreseContrasena">Ingrese su nueva contraseña!</p>
                        </div>

                    </div>

                    <div [formGroup]="frmSignup" class="control-group">

                        <p class="text-center">Su contraseña debe contener:</p>
                        <div class="text-center" [ngStyle]="passId.errors?.minlength  || pass.length === 0  ? { 'color': 'red' } : { 'color': 'green' }">
                            8 carácteres
                        </div>

                        <div class="text-center" [ngStyle]="passId.errors?.validateUpperCase  || pass.length === 0  ? { 'color': 'red' } : { 'color': 'green' }">
                            1 mayúscula
                        </div>

                        <div class="text-center" [ngStyle]="passId.errors?.lowerCase || pass.length === 0 ? { 'color': 'red' } : { 'color': 'green' }">
                            1 minúscula
                        </div>

                        <div class="text-center" [ngStyle]="passId.errors?.validateNumber  || pass.length === 0    ? { 'color': 'red' } : { 'color': 'green' }">
                            1 número
                        </div>


                        <div class="columnasFlex">
                            <input id="passId" type="password" class="form-control" placeholder="Contraseña" formControlName="passId" validatePassword="passId" [(ngModel)]="pass">

                            <input type="text" type="password" class="form-control" formControlName="confirmPassId" [(ngModel)]="confirmPassword" placeholder="Reingrese contraseña" id="confirmPassId">

                            <label class="login-field-icon fui-user" for="login-name"></label>

                            <div [ngStyle]=" { 'color': 'red' }" *ngIf="f.confirmPassId?.errors?.mustMatch">Las contraseñas no coinciden</div>
                        </div>


                        <button class="btn btn-lg btn-large btn-block btn  boton-ingresar" type="submit">Confirmar</button>

                        <a class="login-link" type="button" (click)="confirmPass(false)">Volver</a>
                    </div>

                    <div class=" container  d-flex justify-content-center   align-items-end logo-ts    ">
                        <p class="logotodo">
                        </p>

                    </div>

                </div>
            </div>
        </body>
    </form>
</div>