* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    align-items: center;
    align-content: center;
    font-family: Arial;
    background-color: #d1d1d1;
    padding: 50px;
}


/* background-color: #3498DB; */

.login {
    margin: 20px auto;
    width: 350px;
}

.ingreseContrasena {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Ruda', sans-serif;
    color: #0D0D0D;
    text-align: center;
}

.login-login {
    color: #243762;
}

.login-screen {
    box-shadow: 5px 10px #8888886e;
    margin-bottom: 0;
    background-color: #f2f2f2;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 25px;
    min-height: 420px;
}

.app-title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    color: #0D0D0D;
    -webkit-text-stroke: 0.3px white;
}

.login-form {
    max-width: 100%;
    text-align: center;
}

.columnasFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.control-group {
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

input {
    margin-top: 10px;
    text-align: center;
    background-color: #ECF0F1;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #e91e26;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.login-field {
    color: #666666;
    border: 1px solid rgba(0, 0, 0, 0.575);
    border-radius: 10px;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.boton-ingresar {
    margin-top: 25px;
    text-align: center;
    border-radius: 25px;
}

.logo-ts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    flex-direction: row;
    height: 65px;
}