<aside *ngIf="showNavBar">
    <div id="sidebar" class="nav-collapse">
        <div class="list-group list-group-flush overflow-auto h-100" id="leftCol">


            <ul *ngFor="let partner of list_value  | keyvalue let i=index" class="sidebar-menu" id="nav-accordion">


                <div style="margin-right: 9px; margin-left: 9px; margin-top: 25px; margin-bottom: 40px;">
                    <h5 style=" font-size: 20px; cursor:pointer;" [routerLink]="[home]" class="centered titulo-nav">Sistema de Gestión de Usuarios</h5>
                </div>

                <li [class.active]="opened==i" class="fadeIn" *ngFor="let innerData of partner.value  | keyvalue;let i=index" (click)="opened=opened==i?-1:i" class="sub-menu">

                    <ng-container *ngIf="!innerData.value.Submenu">
                        <a *appCheckPermissions="innerData.value.permisos;  'OR'" routerLinkActive="active" [routerLink]="[innerData.value.router]">

                            <i class="icono" ngClass={{innerData.value.icono}}></i> <span class="main-menu">{{innerData.value.nombre}}</span></a>
                    </ng-container>

                    <a style="cursor:pointer;" *ngIf="innerData.value.Submenu" routerLinkActive="active">

                        <i class="icono" ngClass={{innerData.value.icono}}></i> <span class="main-menu">{{innerData.value.nombre}}</span></a>

                    <ul class="sub">
                        <li *ngFor="let innerData1 of innerData.value.Submenu | keyvalue">

                            <a *appCheckPermissions="innerData1.value.permisos;  'OR'" routerLinkActive="active" [routerLink]="[innerData1.value.router]">	{{innerData1.key}} </a>
                            <!--SE SACO EL OP <a *appCheckPermissions="innerData1.value.permisos; op 'OR'" routerLinkActive="active" [routerLink]="[innerData1.value.router]">	{{innerData1.key}} </a>-->
                    </ul>
                    </li>

            </ul>
        </div>
    </div>
</aside>