<app-loading *ngIf="loading">
</app-loading>
<div *ngIf="!loading" class="fadeIn egresos row mt">
    <div class="col-md-11 ">
        <div class="content-panel">

            <div class="head">
                <h4><i class="fa fa-angle-right"></i> Egresos</h4>
                <a type="button" *appCheckPermissions="['AGREGAR_EGRESO']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>

            <hr>
            <div class="d-flex flex-row flex-fill">
                <h5 class="m-2" for="exampleInputEmail1"> Categoria</h5>
                <div class="flex-grow-1">
                    <ng-select [items]="categorias" bindLabel="Descripcion" bindValue="Id" [(ngModel)]="egresosFilter.IdCategoria" (ngModelChange)="getEgresos(egresosFilter)" name="categoria" #categoria="ngModel">
                    </ng-select>
                </div>
                <h5 class="m-2" for="exampleInputEmail1"> Proveedor</h5>
                <div class="flex-grow-1">
                    <ng-select [items]="proveedores" bindLabel="Nombre" bindValue="Id" [(ngModel)]="egresosFilter.IdProveedor" (ngModelChange)="getEgresos(egresosFilter)" name="proveedor" #proveedor="ngModel">
                    </ng-select>
                </div>
                <h5 class="m-2" for="exampleInputEmail1"> Cheque/Contado</h5>
                <div class="flex-grow-1 mr-5">
                    <ng-select [items]="filterCheque" bindLabel="Descripcion" bindValue="Valor" [(ngModel)]="egresosFilter.EsCheque" (ngModelChange)="getEgresos(egresosFilter)" name="proveedor" #proveedor="ngModel">
                    </ng-select>
                </div>
            </div>





            <hr>
            <ng-container *appCheckNoPermissions="['VER_EGRESOS']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>
            <table *appCheckPermissions="['VER_EGRESOS']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-calendar-alt"></i> Fecha </th>
                        <th><i class="fas fa-sort-numeric-up"></i> Importe </th>
                        <th><i class="fas fa-sort-numeric-up"></i> Es Cheque </th>
                        <th><i class="fas fa-user-tie"></i> Proveedor </th>
                        <th><i class="far fa-edit"></i> Categoría </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let egreso of egresos ">

                        <td class="hidden-phone"> {{ egreso.FechaEgreso | date : "dd/MM/yyyy" }}</td>
                        <td class="hidden-phone"> {{egreso.Moneda.Descripcion +' ' + egreso.Importe | thousandsPipe }}</td>
                        <td class="hidden-phone"> {{egreso.EsCheque && 'Si' || 'No'}}</td>
                        <td class="hidden-phone"> {{egreso.Proveedor.Nombre}}</td>
                        <td class="hidden-phone"> {{ egreso.Categoria.Descripcion }}</td>

                        <td>
                            <button *appCheckPermissions="['VER_EGRESOS']" class="btn btn-primary btn-sm mr-3" (click)="$event.stopPropagation(); openModalInfo(content, egreso)"><i class="fas fa-info  fa-xs"></i></button>
                            <button *appCheckPermissions="['EDITAR_EGRESO']" class="btn btn-primary btn-sm mr-3" (click)="openModalEdit(egreso)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_EGRESO']" class="btn btn-danger btn-sm" (click)="openModalDelete(egreso)"><i class="fas fa-trash fa-xs"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center" style="margin: 10px;" *ngIf="loadData">
                <app-loading-data></app-loading-data>
            </div>

            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" (pageChange)="filter($event)" [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Detalles de egreso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
 <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">

        <table class="animated fadeIn table table-striped table-advance table-hover">
            <tbody>
                <tr>
                    <th class="hidden-phone"> Descripcion </th>
                    <td class="hidden-phone"> {{ egresoInfo.Descripcion }}</td>

                </tr>

                <tr>
                    <th class="hidden-phone"> Fecha Egreso </th>
                    <td class="hidden-phone"> {{ egresoInfo.FechaEgreso | date : "dd/MM/yyyy" }}</td>

                </tr>
                <tr>
                    <th class="hidden-phone"> Es Cheque </th>
                    <td class="hidden-phone"> {{egresoInfo.EsCheque && 'Si' || 'No'}}</td>

                </tr>
                <tr *ngIf="egresoInfo.EsCheque">
                    <th class="hidden-phone"> Fecha Venc. Cheque</th>
                    <td class="hidden-phone"> {{ egresoInfo.FechaCheque | date : "dd/MM/yyyy" }}</td>

                </tr>
                <tr>
                    <th class="hidden-phone"> Id en sistema </th>
                    <td class="hidden-phone"> {{ egresoInfo.Id}}</td>

                </tr>

            </tbody>

        </table>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
    </div>
</ng-template>