<app-loading *ngIf="loading">
</app-loading>
<div *ngIf="!loading" class="usuario row mt">
    <div class="col-md-11 ">
        <div class="content-panel">
            <div class="heade">
                <h4><i class="fa fa-angle-right"></i> Usuarios</h4>

                <a type="button" *appCheckPermissions="['AGREGAR_USUARIOS']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>

            </div>


            <hr>
            <ng-container *appCheckNoPermissions="['VER_USUARIOS']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>
            <table *appCheckPermissions="['VER_USUARIOS']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>

                        <th class="hidden-phone"><i class="fas fa-sort-alpha-down-alt mr-2px"></i> Nombre </th>
                        <th class="hidden-phone"><i class="fas fa-sort-alpha-down-alt mr-2px"></i> Apellido </th>
                        <th class="hidden-phone"><i class="fas fa-envelope"></i> Email </th>
                        <th class="hidden-phone"><i class="fas fa-user"></i> Usuario </th>
                        <th class="hidden-phone"><i class="fas fa-user-tag"></i> Rol </th>
                        <th class="hidden-phone"><i class="far fa-edit"></i> Acciones </th>

                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let usuario of usuariosList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

                        <td class="hidden-phone"> {{ usuario.Nombre }}</td>
                        <td class="hidden-phone"> {{ usuario.Apellido }}</td>
                        <td class="hidden-phone"> {{ usuario.Email }}</td>
                        <td class="hidden-phone"> {{ usuario.Username }}</td>
                        <td class="hidden-phone"> {{ usuario.Rol?.Nombre }}</td>

                        <td>
                            <!-- *appCheckPermissions="['DELETE_USUARIOS']" -->
                            <button *appCheckPermissions="['EDITAR_USUARIOS']" class="btn btn-primary btn-sm mr-5" (click)="openModalEdit(usuario)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_USUARIOS']" class="btn btn-danger btn-sm" (click)="openModalDelete(usuario)"><i class="fas fa-trash fa-xs"></i></button>
                        </td>
                    </tr>
                </tbody>


            </table>

            <div>
                <div class="paginacion">
                    <ngb-pagination class="pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="usuariosList.length" [(page)]="page" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>

        </div>

    </div>

</div>