<app-loading *ngIf="loading">
</app-loading>
<div *ngIf="!loading" class="fadeIn productos row mt">
    <div class="col-md-11 ">
        <div class="content-panel">


            <div class="head">
                <h4><i class="fa fa-angle-right"></i> Productos</h4>
                <a type="button" *appCheckPermissions="['AGREGAR_PRODUCTOS']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>
            <div class="form-group container d-flex flex-row align-items-center ">
                <div class="p-2 d-flex flex-row flex-fill">
                    <h5 class="m-2" for="exampleInputEmail1">Buscar </h5>
                    <div class="flex-grow-1">
                        <input type="email" class="form-control buscar col-5" id="filtro" placeholder="Ingrese descripcion del producto" [(ngModel)]="campoFiltro" (ngModelChange)="onCampoFiltroChange($event)" [value]="campoFiltro">
                    </div>
                </div>
            </div>

            <hr>
            <ng-container *appCheckNoPermissions="['VER_PRODUCTOS']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>
            <table *appCheckPermissions="['VER_PRODUCTOS']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-align-left"></i> Descripción </th>
                        <th><i class="far fa-check-square"></i> Es Servicio </th>
                        <th><i class="fas fa-laptop-code"></i> Marca </th>
                        <th><i class="fas fa-dollar-sign"></i> Precio </th>
                        <th><i class="far fa-edit"></i> Acciones </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="fila" [ngStyle]="producto.Color ?{'background-color': 'darkseagreen'} : null" (click)="getPrecios(producto)" *ngFor="let producto of productos | slice: (pageProducto-1) * pageSize : (pageProducto-1) * pageSize + pageSize">

                        <td class="hidden-phone"> {{ producto.Descripcion }}</td>
                        <td class="hidden-phone"> {{ producto.Servicio == true ? 'Si' : 'No'}}</td>
                        <td class="hidden-phone"> {{ producto.Marca?.Descripcion }}</td>
                        <td class="hidden-phone"> {{ producto.PrecioActual.Moneda.Descripcion + " " + (producto.PrecioActual.Precio| thousandsPipe) }}</td>

                        <td>
                            <button *appCheckPermissions="['EDITAR_PRODUCTOS']" class="btn btn-primary btn-sm mr-3" (click)="$event.stopPropagation();openModalEdit(producto)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_PRODUCTOS']" class="btn btn-danger btn-sm" (click)="$event.stopPropagation();openModalDelete(producto)"><i class="fas fa-trash fa-xs"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="productos.length" [(page)]="pageProducto" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
        <!-- /content-panel -->
    </div>


    <div class="col-md-11 mt-3">
        <div class="row">
            <div class="col-8 ">

                <div class="content-panel precios" *ngIf="productoPrecios.length < 1">
                    <div class="mw-100 m-5 d-flex justify-content-center contenedor" *ngIf="loadingData">
                        <app-loading-data></app-loading-data>
                    </div>
                    <div *ngIf="!loadingData" class="m-5">
                        Seleccione un producto para ver los precios.
                    </div>
                </div>

                <div *ngIf="productoPrecios.length > 0">
                    <div class="content-panel">

                        <div class="head">
                            <h4><i class="fa fa-angle-right"></i> Precios</h4>
                            <a type="button" class="btn btn-success btn-sm agregar" (click)="openModalAddPrecio()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>

                        <hr>

                        <table class="animated fadeIn table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><i class="fas fa-dollar-sign"></i> Precio </th>
                                    <th><i class="fas fa-percent"></i> Impuesto </th>
                                    <th><i class="far fa-calendar-alt"></i> Fecha </th>
                                    <th><i class="far fa-edit"></i> Acciones </th>
                                </tr>
                            </thead>

                            <tbody *ngIf="!loadingData">

                                <tr class="fila" [ngStyle]="productoPrecio.Color ?{'background-color': 'darkseagreen'} : null" (click)="getProductPrecioById(productoPrecio)" *ngFor="let productoPrecio of productoPrecios  | slice: (pagePrecio-1) * pageSize : (pagePrecio-1) * pageSize + pageSize;  let i = index  "
                                    [attr.data-index]="i">

                                    <td style="width: 20px;" *ngIf="productoPrecio.Id == precioActual.Id; else vacio"><strong>Precio<br> actual</strong></td>
                                    <ng-template #vacio>
                                        <td style="width: 20px;"></td>
                                    </ng-template>
                                    <td class="hidden-phone"> {{ productoPrecio.Moneda.Descripcion + " " + (productoPrecio.Precio | number:'':'es') }}</td>
                                    <td class="hidden-phone"> {{ productoPrecio.Impuesto.Descripcion }}</td>
                                    <td class="hidden-phone"> {{ productoPrecio.Desde |date: 'dd/MM/yyyy '}}</td>

                                    <td>
                                        <button class="btn btn-primary btn-sm mr-3" (click)="$event.stopPropagation();openModalEditProductoPrecio(productoPrecio)"><i class="fas fa-edit  fa-xs"></i></button>
                                        <button class="btn btn-danger btn-sm" (click)="$event.stopPropagation();openModalDeleteProductoPrecio(productoPrecio)"><i class="fas fa-trash fa-xs"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="loadingData">
                            <app-loading-data></app-loading-data>
                        </div>

                        <div class="paginacion">
                            <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="productoPrecios.length" [(page)]="pagePrecio" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                        </div>
                    </div>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->


            <div class="col-4 ">
                <div *ngIf="productoPrecios.length > 0">


                    <div class="content-panel precios" *ngIf="precioMetodos.length < 1">
                        <div class="mw-100 m-5 d-flex justify-content-center contenedor" *ngIf="loadingDataMetodos">
                            <app-loading-data></app-loading-data>
                        </div>
                        <div *ngIf="!loadingDataMetodos" class="m-5">
                            Seleccione un precio para ver los métodos
                        </div>
                    </div>

                    <div>

                        <div *ngIf="precioMetodos.length > 0" class="content-panel">
                            <div class="head">
                                <h4><i class="fa fa-angle-right"></i> Métodos de pago</h4>
                                <!--<a *ngIf="!(precioMetodos[0].Descripcion == 'Mensual')" type="button" class="btn btn-success btn-sm agregar" (click)="openModalAddMetodos(content)"><i class="fa fa-plus" aria-hidden="true"></i></a>-->
                            </div>

                            <hr>
                            <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="!loadingDataMetodos">
                                <table class="animated fadeIn table table-striped table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th><i class="fas fa-align-left"></i> Descripción </th>
                                            <th><i class="far fa-edit"></i> Acciones </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let metodo of precioMetodos | slice: (pageMetodo-1) * pageSize : (pageMetodo-1) * pageSize + pageSize">
                                            <td class="hidden-phone"> {{ metodo.Descripcion }}</td>
                                            <td>
                                                <!-- <button  class="btn btn-primary btn-sm mr-3" (click)="openModalEdit(metodo)"><i class="fas fa-edit  fa-xs"></i></button> -->
                                                <button class="btn btn-danger btn-sm" (click)="openModalDeleteMetodo(contentDeleteMetodo,metodo)"><i class="fas fa-trash fa-xs"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="loadingDataMetodos">
                                <app-loading-data></app-loading-data>
                            </div>

                            <div class="paginacion">
                                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="precioMetodos.length" [(page)]="pageMetodo" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                    <!-- /content-panel -->
                </div>
            </div>
        </div>
    </div>
</div>





<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Métodos de pago</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <label class="col-sm-2 col-sm-2 control-label">Métodos de pago</label>
        <div class="col-sm-9">
            <ng-select [items]="metodos" [multiple]="true" bindLabel="Descripcion" [selectableGroup]="true" [closeOnSelect]="false" bindValue="Id" [(ngModel)]="selectedMetodos" name="func" ngDefaultControl>
                <ng-template name="ngtem" ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div name="f" id="item-{{index}}"> </div>{{item.Descripcion}}
                </ng-template>
            </ng-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
</ng-template>






<ng-template #contentDeleteMetodo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Eliminar método</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p><strong>¿ Estás seguro que deseas eliminar el método de pago ? <span class="text-primary">   </span> </strong></p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Salir</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Confirmar</button>
    </div>
</ng-template>