.clientes {
    padding-top: 90px;
    padding-left: 240px;
    padding-right: 15px;
    padding-bottom: 90px;
    overflow-y: auto;
    height: 100%;
}

.cli-productos {
    font-size: 25px;
}

.head {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.agregar {
    margin-right: 12.5%;
}

.alerta {
    max-width: 400px;
    float: right;
    padding-top: 90px;
    padding-right: 15px;
}

.paginacion {
    padding-top: 15px;
    margin-right: 10%;
    max-width: 100%;
}

.filtro-motivos {
    border-left: black;
}

.buscar::placeholder {
    font-size: 14px;
}

.label-motivos {
    margin: 0px;
    padding: 0px;
}

@media print {
    body,
    html,
    .forPrint {
        width: 100%;
        height: 100%;
    }
}