<app-loading *ngIf="loading && router.children.length === 0 ">
</app-loading>
<div *ngIf="!loading && checkRouter()" class="fadeIn clientes row mt">
    <div class="col-md-11 ">
        <div class="content-panel">

            <div class="d-flex head">
                <h4><i class="fa fa-angle-right"></i> Clientes</h4>
                <a type="button" *appCheckPermissions="['IMPRIMIR_AVISOS_TODOS_CLIENTES']" class="btn btn-secondary btn-sm agregar" [disabled]="loadingInfo" (click)="imprimirTodosLosAvisos()">Imprimir todos avisos de pago</a>
                <a type="button" *appCheckPermissions="['AGREGAR_CLIENTES']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>
            <hr>

            <div class="form-group container d-flex flex-row align-items-center ">
                <div class="p-2 d-flex flex-row flex-fill">
                    <h5 class="m-2" for="exampleInputEmail1">Buscar </h5>
                    <div class="flex-grow-1">
                        <input type="email" class="form-control buscar col-10" id="filtro" placeholder="Ingrese cédula nombre y/o apellido" [(ngModel)]="nombre" (ngModelChange)="onNombreChange($event)" [value]="filterString">
                    </div>
                </div>
                <div class="p-2 d-flex flex-row flex-fill align-items-center">

                    <div class="d-flex flex-row flex-fill">
                        <h5 class="m-2" for="exampleInputEmail1">Ciudad </h5>
                        <div class="flex-grow-1">
                            <ng-select [items]="ciudades" bindLabel="Descripcion" bindValue="Id" [(ngModel)]="ciudadFilterId" (ngModelChange)="onCiudadChange($event)" name="ciudad" #ciudad="ngModel">
                            </ng-select>
                        </div>
                    </div>

                    <div class="d-flex flex-row flex-fill">
                        <h5 class="m-2" for="exampleInputEmail1">Zonas </h5>

                        <div class="flex-grow-1">
                            <ng-select [items]="zonas" bindLabel="Descripcion" bindValue="Id" [(ngModel)]="zonaFilterId" (ngModelChange)="onZonaChange($event)" name="zona" #zona="ngModel">
                            </ng-select>
                        </div>
                    </div>


                    <div class="d-flex flex-row flex-fill filtro-motivos text-right align-items-center">
                        <div class="col-8 " for="exampleInputEmail1 label-motivos"> Motivo clientes inhabilitados </div>
                        <div class="flex-grow-1  text-left">
                            <ng-select [items]="estadosMotivos" bindLabel="Descripcion" bindValue="Id" [(ngModel)]="estado" (ngModelChange)="onEstadoChange($event)" name="state" #state="ngModel">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>

            <h1 *appCheckNoPermissions="['VER_CLIENTES']" class="text-center">Usted no tiene permiso para ver esta seccion</h1>

            <table *appCheckPermissions="['VER_CLIENTES']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-sort-numeric-down"></i> Id </th>
                        <th><i class="fas fa-id-card"></i> C.I </th>
                        <th><i class="fas fa-key"></i> HTE </th>
                        <th><i class="fas fa-user"></i> Nombre </th>
                        <th><i class="fas fa-phone"></i> Teléfono </th>
                        <th><i class="fas fa-map-marked"></i> Dirección </th>
                    </tr>
                </thead>

                <tbody>
                    <tr routerLinkActive="active" [routerLink]="[cliente.Id, 'productos']" style="cursor: pointer;" *ngFor="let cliente of clientes">
                        <td class="hidden-phone"> {{ cliente.Id }}</td>
                        <td class="hidden-phone"> {{ cliente.Identificador }}</td>
                        <td class="hidden-phone"> {{ cliente.Hte }}</td>
                        <td class="hidden-phone"> {{ cliente.Nombre +" " + cliente.Apellido }}</td>
                        <td class="hidden-phone"> {{ cliente.Telefono }}</td>
                        <td class="hidden-phone"> {{ cliente.Direccion + ", " + cliente.Zona.Descripcion + ", " + cliente.Ciudad.Descripcion }}</td>
                        <td>
                            <button *appCheckPermissions="['IMPRIMIR_AVISOS_CLIENTE']" class="btn btn-primary btn-sm mr-3" [disabled]="loadingInfo" (click)="$event.stopPropagation(); imprimirAvisodepago(cliente)"><i class="fas fa-print  fa-xs"></i></button>
                            <button *appCheckPermissions="['VER_PAGOS_CLIENTES']" class="btn btn-primary btn-sm mr-3" (click)="$event.stopPropagation();openModalInfo(content,cliente)"><i class="fas fa-dollar-sign  fa-xs"></i></button>
                            <button *appCheckPermissions="['EDITAR_CLIENTES']" style="cursor: pointer;" class="btn btn-primary btn-sm mr-3" (click)="$event.stopPropagation();openModalEdit(cliente)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_CLIENTES']" style="cursor: pointer;" class="btn btn-danger btn-sm" (click)="$event.stopPropagation();openModalDelete(cliente)"><i class="fas fa-exchange-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="mw-100 d-flex justify-content-center contenedor" *ngIf="loadingData">
                <app-loading-data></app-loading-data>
            </div>

            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="filter($event)"></ngb-pagination>
            </div>
        </div>

    </div>
    <div class="content-panel m-5">
        <div class=" cli-productos m-5">
            Seleccione un cliente para ver los productos.
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Detalle pagos cliente</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
     <span aria-hidden="true">&times;</span>
   </button>
    </div>
    <div class="d-flex modal-body">
        <div style=" width: 50%; border: 1px solid black;">
            <table style="" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-id-card"></i> Pago Id </th>
                        <th><i class="fas fa-id-card"></i> Fecha </th>
                        <th><i class="fas fa-id-card"></i> Monto </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let pago of pagosCliente | slice: (pagePagos-1) * pageSize : (pagePagos-1) * pageSize + pageSize" style="cursor: pointer;" (click)="loadCuotas(pago.Id)">
                        <td class="hidden-phone"> {{ pago.Id }}</td>
                        <td class="hidden-phone"> {{ pago.Fecha | date : "dd/MM/yyyy hh:mm" }}</td>
                        <td class="hidden-phone"> {{ "$ " + pago.MontoTotal.toFixed(0) }}</td>
                        <button *appCheckPermissions="['ELIMINAR_CLIENTES']" style="cursor: pointer;" [disabled]="!pago.CanDelete" class="btn btn-danger btn-sm" (click)="$event.stopPropagation();paymentDelete( pago, cliente)"><i class="fas fa-trash fa-xs"></i></button>
                    </tr>
                </tbody>
            </table>
            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="pagosCliente.length" [(page)]="pagePagos" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>

        <div class="d-flex text-center justify-content-center p-2 ">

            <div *ngIf="pagosCliente.length == 0" style="font-size: 20px;"> No hay pagos realizados </div>
            <div *ngIf="cuotasPagas.length == 0 && !loadingCuotas && pagosCliente.length > 0" style="font-size: 20px;"> Seleccione un pago para ver el detalle </div>
        </div>
        <table *ngIf="cuotasPagas.length > 0 || loadingCuotas" style=" width: 50%;" class="animated fadeIn table table-striped table-advance table-hover">
            <thead>
                <tr>
                    <th><i class="fas fa-id-card"></i> Producto</th>
                    <th><i class="fas fa-id-card"></i> Cuota </th>
                    <th><i class="fas fa-id-card"></i> Monto </th>
                </tr>
            </thead>


            <tbody>
                <div *ngIf="loadingCuotas" class="d-flex justify-content-center" style="margin: 10px;">
                    <app-loading-data></app-loading-data>
                </div>

                <tr *ngFor="let cuota of cuotasPagas" style="cursor: pointer;">
                    <td class="hidden-phone"> {{ cuota.ClienteProducto.ProductoPrecio.Producto.Descripcion }}</td>
                    <div *ngIf=" cuota.ClienteProducto.ProductoPrecio.Producto.Servicio ;else other_content">
                        <td class="hidden-phone text-align-start">
                            {{ generateFecha(cuota) | date : "MMMM"}}
                        </td>
                    </div>
                    <ng-template #other_content>
                        <td class="hidden-phone">{{ cuota.Cuota + " / " +cuota.ClienteProducto.MetodoPago.Cantidad }}</td>
                    </ng-template>
                    <td class="hidden-phone"> {{ "$ " + cuota.Importe.toFixed(0) }}</td>
                </tr>
            </tbody>
        </table>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
    </div>

</ng-template>

<app-aviso-pago [uploadSuccess]="uploadSuccess"></app-aviso-pago>




<router-outlet></router-outlet>