<div *ngIf="avisosPago.length > 0 && generarHtml" id="print-section" [hidden]="true" class="forPrint">

    <div style="display: flex; height: 90mm;width: 203mm; margin-left: 2mm; margin-top: 8mm;page-break-after:always; " *ngFor="let aviso of avisosPago | keyvalue; ">
        <!-- COLUMNA CLIENTE -->
        <div style="display: flex;flex-direction: column;width: 72%;height: 100%;">

            <div style="display: flex;justify-content: center;margin-top: 18mm;">
                <div style="width: 55%; padding-left: 7mm;">{{this.aviso.value.Cliente.Nombre + " "+ this.aviso.value.Cliente.Apellido}} </div>
                <div style="width: 15%;">{{this.aviso.value.Cliente.Id}}</div>
                <div style="width: 30%; margin-left: 8mm;">{{this.aviso.value.IdAvisoPago}}</div>
            </div>

            <div style="display: flex;justify-content: center;margin-top: 8mm;">
                <div style="width: 20%; padding-left: 7mm;">{{this.aviso.value.Cliente.Zona.Descripcion}} </div>
                <div style="width: 50%;">{{this.aviso.value.Cliente.Direccion}}</div>
                <div style="width: 30%;">{{fechaVencimiento}}</div>
            </div>

            <div style="display: flex; flex-direction: column; margin-top: 7mm; height: 27mm; overflow: visible">
                <div *ngFor="let producto of aviso.value.Productos | keyvalue; ">
                    <div *ngFor="let item of producto.value | keyvalue ;">
                        <ng-container *ngIf="item.value.Show">
                            <div style="display: flex; " *ngIf="item.value.ClienteProducto.ProductoPrecio.Producto.Servicio; else otherContent">

                                <div style=" width:50%; padding-left: 7mm;">{{ item.value.ClienteProducto.ProductoPrecio.Producto.Descripcion | slice:0:8}} {{ " " + generateFecha(item.value) | date : "MMMM" | slice:0:4 }}</div>

                                <div style=" width:50%;"> {{ '$ ' + (item.value.Importe).toFixed(0) }}</div>

                            </div>
                            <ng-template #otherContent>
                                <div style="display: flex; ">
                                    <div style=" width:50%; padding-left: 7mm;">{{ item.value.ClienteProducto.ProductoPrecio.Producto.Descripcion | slice:0:8}} {{ " " + item.value.Cuota + "/" + producto.value[0].ClienteProducto.MetodoPago.Cantidad + " " }}
                                    </div>

                                    <div style=" width:50%;">
                                        {{ '$ ' + (item.value.Importe).toFixed(0) }}
                                    </div>
                                </div>


                            </ng-template>

                        </ng-container>

                    </div>

                </div>
            </div>

            <div *ngIf="aviso.value.AvisoCorte; else sinFechaCorte" style="display: flex;">
                <div style="width: 30%">
                    <div style="list-style-type:none; text-align: center; padding-left: 3mm; padding-top: 6mm;">
                        <p>{{'FECHA DE CORTE PROGRAMADA: ' +((fechaCorte | date:"dd/MM/yyyy")) }}</p>
                    </div>

                </div>
                <div *ngIf="aviso.value.TotalDeuda > 0">
                    <div style="list-style-type:none; text-align: center; padding-left: 33mm; padding-top: 10mm; ">
                        <div> {{ '$ ' + (( aviso.value.TotalDeuda / (1 + (this.iva / 100))).toFixed(0)).toString() }} </div>
                        <div>{{ '$ ' + (( aviso.value.TotalDeuda) - ( aviso.value.TotalDeuda / (1 + (this.iva / 100)))).toFixed(0).toString() }}</div>
                        <div> {{ '$ ' + aviso.value.TotalDeuda.toFixed(0).toString() }} </div>
                    </div>
                </div>

            </div>
            <ng-template #sinFechaCorte>
                <div *ngIf="aviso.value.TotalDeuda > 0">
                    <div style="list-style-type:none; text-align: center; padding-left: 18mm; margin-top: 3mm; ">
                        <div> {{ '$ ' + (( aviso.value.TotalDeuda / (1 + (this.iva / 100))).toFixed(0)).toString() }} </div>
                        <div>{{ '$ ' + (( aviso.value.TotalDeuda) - ( aviso.value.TotalDeuda / (1 + (this.iva / 100)))).toFixed(0).toString() }}</div>
                        <div> {{ '$ ' + aviso.value.TotalDeuda.toFixed(0).toString() }} </div>
                    </div>
                </div>
            </ng-template>



        </div>
        <!-- COLUMNA TOTAL -->
        <div style="display: flex;flex-direction: column;width:28%;height: 100%;">
            <div style="display: flex;justify-content: center;margin-top: 18mm;">{{this.aviso.value.Cliente.Id}}</div>
            <div style="display: flex;justify-content: center;margin-top: 8mm;">{{this.aviso.value.Cliente.Nombre + " "+ this.aviso.value.Cliente.Apellido}}</div>
            <div style="display: flex;flex-direction: column;padding-left: 5mm;height: 30mm;overflow: visible;margin-top: 8mm;">
                <div *ngFor="let prod of aviso.value.Productos | keyvalue">
                    <div *ngFor="let cuota of prod.value | keyvalue ">
                        <ng-container *ngIf=" cuota.value.Show">
                            <div *ngIf="cuota.value.ClienteProducto.ProductoPrecio.Producto.Servicio; else other_content">

                                <label>{{ cuota.value.ClienteProducto.ProductoPrecio.Producto.Descripcion | slice:0:8}} 
                                    {{  " " +  generateFecha(cuota.value) | date : "MMMM" | slice:0:4 }}   
                                    {{ ' $ ' +  (cuota.value.Importe).toFixed(0) }}
                                </label>


                            </div>
                            <ng-template #other_content>

                                <label>
                                    {{  cuota.value.ClienteProducto.ProductoPrecio.Producto.Descripcion | slice:0:10}} 
                                    {{ " " +  cuota.value.Cuota + "/" + prod.value[0].ClienteProducto.MetodoPago.Cantidad + 
                                        " " +'$ ' + ( prod.value[0].Importe  ).toFixed(0) }}
                                </label>

                            </ng-template>

                        </ng-container>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content: center;margin-top: 8mm;">{{ '$ ' + aviso.value.TotalDeuda.toFixed(0).toString() }}</div>
        </div>
    </div>

</div>