@media print {
    #print-section {
        /*font-family: 'Yu Gothic', Arial, Helvetica, sans-serif;*/
        font-family: 'Times New Roman', Times, serif;
        font-size: 48pt;
    }
    /* You can add additional styles here which you need */
}