

.productos {

  padding-top: 90px;
  padding-left: 240px;
  padding-right: 15px;
  padding-bottom: 100px;
  overflow-y:auto;
  height: calc(100vh - 70px);
    min-height: 100%;
  }


.nombre-cliente{
  margin:auto;

}
  .head{
    display: flex;
    flex-flow: row ;



  }
  .agregar {
    margin-right: 12.5%;


  }

  .alerta {
    max-width: 400px;

    float: right;
    padding-top: 90px;
    padding-right: 15px;



  }



  .paginacion{
    padding-top: 15px;
    margin-right: 10%;
    max-width: 100%;


  }

