<app-loading *ngIf="loading && router.children.length === 0">
</app-loading>
<div *ngIf="!loading && router.children.length === 0" class="fadeIn productos row mt">
    <div class="col-md-11 ">
        <div class="content-panel">

            <div class="head d-flex flex-row justify-content-between">

                <div class="p-2 d-flex flex-row">
                    <button type="button" class="btn btn-outline-secondary" [routerLink]="['../../']"> <i class="fas fa-arrow-left"></i> </button>
                    <div>
                        <h5 class="nombre-cliente ml-4"> Productos: {{ cliente.Nombre }} </h5>
                        <div *ngIf="cliente.EstadoActualId === 6" class="text-center"><span style="color: red; font-size: 15px;">Deudor</span></div>
                    </div>
                </div>

                <div class="p-2 d-flex flex-row flex-grow-1 justify-content-around">
                    <div class="p-2 ">
                        <button type="button" class="btn btn-success" [routerLink]="['pago']"> Realizar Pago </button>
                    </div>
                    <div class="p-2 ">
                        <a type="button" class="btn btn-primary btn-xl" *ngIf="cliente.EstadoActualId !== 6" [routerLink]="['asignar']"> <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>

            </div>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th><i class="fas fa-tv"></i> Descripción </th>
                        <th><i class="fas fa-calendar-alt"></i> Fecha compra </th>
                        <th><i class="fas fa-dollar-sign"></i> Precio </th>
                        <th><i class="fab fa-cc-visa"></i> Método de pago </th>
                        <th><i class="fas fa-list-ul"></i> Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let producto of productosCliente | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <tr>
                            <td style="cursor:pointer;" (click)="producto.expand=!producto.expand">+</td>
                            <td class="hidden-phone"> {{ producto.ProductoPrecio.Producto.Descripcion}}</td>
                            <td class="hidden-phone"> {{ producto.Desde |date:"dd/MM/yyyy"}}</td>
                            <td class="hidden-phone"> {{ producto.ProductoPrecio.Moneda.Descripcion + " " + producto.ProductoPrecio.Precio | thousandsPipe }}</td>
                            <td>
                                {{ (producto.ProductoPrecio.Moneda.Descripcion + " " + (producto.ProductoPrecio.Precio / producto.MetodoPago.Cantidad).toFixed(0) | thousandsPipe) + " x " + producto.MetodoPago.Cantidad}}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm mr-3" (click)="openModalInfo(producto, cliente)"><i class="fas fa-info  fa-xs"></i></button>

                                <button style="cursor: pointer;" class="btn btn-danger btn-sm" (click)="openModalDelete(producto)"><i class="fas fa-trash fa-xs"></i></button>
                            </td>
                        </tr>
                        <ng-container *ngIf="producto.expand && producto.Items && producto.Items.length>0">
                            <ng-container *ngFor='let item of producto.Items '>
                                <tr>
                                    <td></td>
                                    <td style="padding-left: 15px; max-width: 50px;">
                                        <p style="padding-left: 15px;">{{item.Item.Descripcion + " : "}}{{item.Valor}}</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                            </ng-container>
                        </ng-container>

                    </ng-container>
                </tbody>
            </table>
            <div class="paginacion">
                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>



<div *ngIf="router.children.length !== 0">
    <!-- <app-pago-cliente [cli]="cliente"></app-pago-cliente> -->
    <router-outlet></router-outlet>
</div>