component-body {
    position: relative;
    overflow-y: auto;
    height: 100%;
    position: relative;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    position: relative;
    overflow-y: auto;
    height: 100%;
    padding: 10px;
}


/* for sidenav to take a whole page */

html,
body {
    position: relative;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    height: 100%;
}

.toast[class*="show"] {
    position: relative;
    z-index: 999999;
}

.toast {
    position: absolute;
    top: -100;
    z-index: 0;
}