<div class="toast-container position-absolute p-3 bottom-0 start-0">
    <!-- Third position -->
    <div id="toast-0" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex align-items-center">

            <div id="message-0" class="toast-body flex-grow-1 flex-wrap" style="max-width: 250px;">

            </div>
            <span id="time-0" class="justify-self-end" style="font-size:15px; color:whitesmoke"></span>
        </div>
    </div>
    <!-- Second position -->
    <div id="toast-1" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex align-items-center">

            <div id="message-1" class="toast-body flex-grow-1 flex-wrap" style="max-width: 250px;">

            </div>
            <span id="time-1" class="justify-self-end" style="font-size:15px; color:whitesmoke"></span>
        </div>
    </div>
    <!-- First position -->
    <div id="toast-2" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex align-items-center">

            <div id="message-2" class="toast-body flex-grow-1 flex-wrap" style="max-width: 250px;">

            </div>
            <span id="time-2" class="justify-self-end" style="font-size:15px; color:whitesmoke"></span>
        </div>
    </div>
</div>

<div>
    <app-header></app-header>

    <app-nvbar></app-nvbar>

</div>


<router-outlet></router-outlet>