<app-loading *ngIf="loading">
</app-loading>
<div *ngIf="!loading" class="rol row mt">
    <div class="col-md-11 ">
        <div class="content-panel">
            <div class="heade">
                <h4><i class="fa fa-angle-right"></i> Roles</h4>

                <a type="button" *appCheckPermissions="['AGREGAR_ROLES']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>

            <hr>
            <ng-container *appCheckNoPermissions="['VER_ROLES']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>
            <table *appCheckPermissions="['VER_ROLES']" class="animated fadeIn table table-striped table-advance table-hover">

                <thead>
                    <tr>
                        <th class="hidden-phone"><i class="fa fa-question-circle"></i> Descripcion </th>
                        <th class="hidden-phone"><i class="fa fa-question-circle"></i> Acciones </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let rol of rolesList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td class="hidden-phone"> {{ rol.Nombre }}</td>
                        <td *ngIf="rol.Nombre!='Admin'">
                            <button *appCheckPermissions="['EDITAR_ROLES']" class="btn btn-primary btn-sm mr-5" (click)="openModalEditPermisos(rol)"><i class="fas fa-tasks  fa-xs"></i></button>
                            <button *appCheckPermissions="['EDITAR_ROLES']" class="btn btn-primary btn-sm mr-5" (click)="openModalEdit(rol)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_ROLES']" class="btn btn-danger btn-sm" (click)="openModalDelete(rol)"><i class="fas fa-trash fa-xs"></i></button>
                        </td>
                        <td *ngIf="rol.Nombre=='Admin'" class="hidden-phone"> No modificable</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div class="paginacion">
                    <ngb-pagination class="pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="rolesList.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>