/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; top: 0;
   position: fixed; width: 100%;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   height: 100%;
   margin: auto;
  }



form label {

  font-weight:bold !important;

  margin-top: 4px;
  margin-bottom: 2px;
  font-size: medium;


}

form label::placeholder {
  font-size: smaller;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
