<app-loading *ngIf="loading">
</app-loading>
<div class="fadeIn egresos row mt">
    <div class="col-md-11 ">
        <div class="content-panel">
            <div class="d-flex justify-content-between ">
                <div class="head">
                    <h4><i class="fa fa-angle-right"></i> Ingresos / Egresos</h4>
                </div>
                <div>
                    <button *appCheckPermissions="['IMPRIMIR_PDF_REPORTES_INGRESOS-EGRESOS']" class="pdf btn btn-danger btn-sm mr-5" (click)="exportToFile(2)"><i class="fas fa-file-pdf"></i></button>
                    <button *appCheckPermissions="['IMPRIMIR_EXCEL_REPORTES_INGRESOS-EGRESOS']" class="excel btn btn-success btn-sm mr-5" (click)="exportToFile(1)"><i class="fas fa-file-csv"></i></button>
                </div>
                <div class="d-flex w-30 mr-5">
                    <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="fechaDesde" (ngModelChange)="filter($event)" ngbDatepicker readonly #d1="ngbDatepicker" name="fecha" #fechaF="ngModel">
                    <div class="input-group-append">
                        <button class="btn btn-primary  btn-fecha calendar" (click)="d1.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>

                    <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="fechaHasta" ngbDatepicker readonly #d2="ngbDatepicker" (ngModelChange)="filter($event)" name="fecha" #fechaF="ngModel">
                    <div class="input-group-append">
                        <button class="btn btn-primary  btn-fecha calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>

            <hr>
            <div class="d-flex">
                <div class="p-2 flex-fill">
                    <h4> Ingresos</h4>

                    <div class="flex-grow-1">
                        <ng-select [items]="ciudades" bindLabel="Descripcion" bindValue="Id" [(ngModel)]="filterIngreso.CiudadId" (ngModelChange)="filterGetIngreso($event)" name="ciudad" #ciudad="ngModel">
                        </ng-select>
                    </div>
                    <ng-container *appCheckNoPermissions="['VER_REPORTES_INGRESOS-EGRESOS']">
                        <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
                    </ng-container>
                    <table *appCheckPermissions="['VER_REPORTES_INGRESOS-EGRESOS']" class="animated fadeIn table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fas fa-id-card"></i> Pago Id </th>
                                <th><i class="fas fa-id-card"></i> Cliente </th>
                                <th><i class="fas fa-id-card"></i> Ciudad </th>
                                <th><i class="fas fa-calendar-week"></i> Fecha </th>
                                <th><i class="fas fa-calendar-week"></i> Detalle </th>
                                <th><i class="fas fa-dollar-sign"></i> Monto </th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let pago of pagos">
                                <td class="hidden-phone"> {{ pago.Cliente.Id }}</td>
                                <td class="hidden-phone"> {{ pago.Cliente.Nombre +" " + pago.Cliente.Apellido }}</td>
                                <td class="hidden-phone"> {{ pago.Cliente.Ciudad.Descripcion }}</td>
                                <td class="hidden-phone"> {{ pago.Fecha | date : "dd/MM/yyyy HH:mm" }}</td>
                                <td class="hidden-phone"> {{ pago.Detalle }}</td>
                                <td class="hidden-phone"> {{ "$ " + pago.MontoTotal.toFixed(0)| thousandsPipe }}</td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex w-100 justify-content-center" *ngIf="loadingIngreso">
                        <app-loading-data></app-loading-data>
                    </div>
                    <div class="paginacion">
                        <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSizeIngreso" [collectionSize]="countIngreso" [(page)]="pageIngreso" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="filterGetIngreso($event)"></ngb-pagination>
                    </div>

                </div>
                <div style="border-right: 0.1px solid rgba(0, 0, 0, 0.315);"></div>
                <div class="p-2 flex-fill">
                    <h4> Egresos</h4>
                    <div class="flex-grow-1">
                        <ng-select [items]="categorias" bindLabel="Descripcion" bindValue="Id" [(ngModel)]="filterEgreso.CategoriaId" (ngModelChange)="filterGetEgreso($event)" name="ciudad" #ciudad="ngModel">
                        </ng-select>
                    </div>
                    <ng-container *appCheckNoPermissions="['VER_REPORTES_INGRESOS-EGRESOS']">
                        <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
                    </ng-container>
                    <table *appCheckPermissions="['VER_REPORTES_INGRESOS-EGRESOS']" class="animated fadeIn table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fas fa-id-card"></i> Pago Id </th>
                                <th><i class="fas fa-calendar-week"></i> Proveedor </th>
                                <th><i class="fas fa-calendar-week"></i> Categoría </th>
                                <th><i class="fas fa-calendar-week"></i> Cheque/Contado </th>
                                <th><i class="fas fa-calendar-week"></i> Fecha </th>
                                <th><i class="fas fa-dollar-sign"></i> Monto </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let egreso of egresos" style="cursor: pointer;">
                                <td class="hidden-phone"> {{ egreso.Id }}</td>
                                <td class="hidden-phone"> {{ egreso.Proveedor.Nombre }}</td>
                                <td class="hidden-phone"> {{ egreso.Categoria.Descripcion }}</td>
                                <td *ngIf="egreso.EsCheque; else divCheque">Cheque</td>
                                <ng-template #divCheque>
                                    <td>Contado</td>
                                </ng-template>

                                <td *ngIf="egreso.EsCheque; else elseBlock">{{ egreso.FechaCheque | date : 'dd/MM/yyyy'}}</td>
                                <ng-template #elseBlock>
                                    <td>{{ egreso.FechaEgreso | date : 'dd/MM/yyyy'}}</td>
                                </ng-template>


                                <td class="hidden-phone"> {{ "$ " + egreso.Importe.toFixed(0)| thousandsPipe }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex w-100 justify-content-center" *ngIf="loadingEgreso">
                        <app-loading-data></app-loading-data>
                    </div>
                    <div class="paginacion">
                        <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSizeEgreso" [collectionSize]="countEgreso" [(page)]="pageEgreso" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="filterGetEgreso($event)"></ngb-pagination>
                    </div>

                </div>
            </div>
            <div class="section-total">
                <div>Ingresos = $ {{totalIngreso.toFixed(0)| thousandsPipe}} </div>
                <div>Egresos = $ {{ totalEgreso.toFixed(0)| thousandsPipe }} </div>
                <div class="total">Total = $ {{ total.toFixed(0)| thousandsPipe }} </div>
            </div>
        </div>
    </div>
</div>
<!-- /content-panel -->