.items {
    padding-top: 90px;
    padding-left: 240px;
    padding-right: 15px;
    padding-bottom: 90px;
    overflow-y: auto;
    height: 100%;
}

.head {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.agregar {
    margin-right: 12.5%;
}

.alerta {
    max-width: 400px;
    float: right;
    padding-top: 90px;
    padding-right: 15px;
}

.paginacion {
    padding-top: 15px;
    margin-right: 10%;
    max-width: 100%;
}