<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="fadeIn items row mt">
    <div class="col-md-11 ">
        <div class="content-panel">
            <div class="head">
                <h4><i class="fa fa-angle-right"></i> Items</h4>

                <a type="button" *appCheckPermissions="['AGREGAR_ITEMS']" class="btn btn-primary btn-sm agregar" (click)="openModalAdd()">Agregar</a>
            </div>

            <hr>
            <ng-container *appCheckNoPermissions="['VER_ITEMS']">
                <h1 class="text-center">Usted no tiene permiso para ver esta seccion</h1>
            </ng-container>
            <table *appCheckPermissions="['VER_ITEMS']" class="animated fadeIn table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th><i class="fas fa-align-left"></i> Descripción </th>
                        <!-- <th ><i class="fas fa-palette"></i> Color </th> -->
                        <th><i class="far fa-edit"></i> Acciones </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

                        <td class="hidden-phone"> {{ item.Descripcion }}</td>
                        <!-- <td class="hidden-phone">  {{ item.Color }}</td> -->

                        <td>
                            <button *appCheckPermissions="['EDITAR_ITEMS']" class="btn btn-primary btn-sm mr-3" (click)="openModalEdit(item)"><i class="fas fa-edit  fa-xs"></i></button>
                            <button *appCheckPermissions="['ELIMINAR_ITEMS']" class="btn btn-danger btn-sm" (click)="openModalDelete(item)"><i class="fas fa-trash fa-xs"></i></button>
                        </td>
                    </tr>

                </tbody>

            </table>
            <div class="paginacion">

                <ngb-pagination class=" pagination d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="items.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <!-- /col-md-12 -->
</div>